---
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout title="Sobre mí">
  <p>Soy un joven entusiasta y apasionado de la programación.</p>
  <p>
    En mi tiempo libre, me encanta aprender sobre los temas de la programación.
  </p>
  <p>
    Actualmente, me encuentro estudiando la carrera de Ingeniería de Informatica
  </p>
</SectionLayout>
